<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Winterhold - Customers</title>

    <!-- Custom fonts for this template -->
    <link th:href="@{/resources/vendor/fontawesome-free/css/all.min.css}" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template -->
    <link th:href="@{/resources/css/sb-admin-2.min.css}" rel="stylesheet">
    <link th:href="@{/resources/css/sb-admin-2.css}" rel="stylesheet">

    <!-- Custom styles for this page -->
    <link th:href="@{/resources/vendor/datatables/dataTables.bootstrap4.min.css}" rel="stylesheet">

    
    <script th:src="@{/resources/vendor/jquery/jquery.min.js}" defer></script>
    <script th:src="@{/resources/vendor/bootstrap/js/bootstrap.bundle.min.js}" defer></script>

    <!-- Core plugin JavaScript-->
    <script th:src="@{/resources/vendor/jquery-easing/jquery.easing.min.js}" defer></script>

    <!-- Custom scripts for all pages-->
    <script th:src="@{/resources/js/sb-admin-2.js}" defer></script>
    <script th:src="@{/resources/js/script.js}" defer></script>
    <script th:src="@{/resources/js/sb-admin-2.min.js}" defer></script>

    <!-- Page level plugins -->

</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul th:replace="~{dashboard::sidebar}" class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
                <div class="sidebar-brand-icon rotate-n-15">
                    <i class="fas fa-laugh-wink"></i>
                </div>
                <div class="sidebar-brand-text mx-3">SB Admin <sup>2</sup></div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Dashboard -->
            <li class="nav-item">
                <a class="nav-link" href="index.html">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Dashboard</span></a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
                Pages
            </div>

            <!-- Nav Item - Tables -->
            <li class="nav-item active">
                <a class="nav-link" href="/authors">
                    <i class="fas fa-fw fa-table"></i>
                    <span>Authors</span></a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">

            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>

        </ul>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
                    <h1 class="h3 m-md-3 text-gray-800">Customers</h1>

                    <!-- Sidebar Toggle (Topbar) -->
                    <form class="form-inline">
                        <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                            <i class="fa fa-bars"></i>
                        </button>
                    </form>


                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">

                        <!-- Nav Item - Search Dropdown (Visible Only XS) -->
                        <li class="nav-item dropdown no-arrow d-sm-none">
                            <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-search fa-fw"></i>
                            </a>
                            <!-- Dropdown - Messages -->
                            <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
                                aria-labelledby="searchDropdown">
                                <form class="form-inline mr-auto w-100 navbar-search">
                                    <div class="input-group">
                                        <input type="text" class="form-control bg-light border-0 small"
                                            placeholder="Search for..." aria-label="Search"
                                            aria-describedby="basic-addon2">
                                        <div class="input-group-append">
                                            <button class="btn btn-primary" type="button">
                                                <i class="fas fa-search fa-sm"></i>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </li>

                        
                        <div class="topbar-divider d-none d-sm-block"></div>

                        <!-- Nav Item - User Information -->
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="mr-2 d-none d-lg-inline text-gray-600 small">Douglas McGee</span>
                                <img class="img-profile rounded-circle"
                                    src="img/undraw_profile.svg">
                            </a>
                            <!-- Dropdown - User Information -->
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                aria-labelledby="userDropdown">
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Profile
                                </a>
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Settings
                                </a>
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Activity Log
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Logout
                                </a>
                            </div>
                        </li>

                    </ul>

                </nav>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">

                        <!--  Header Books-->
                    <div class="card shadow mb-4 col-md-8" >
                        <!-- Card Header - Accordion -->
                        <a href="#collapseCardExample" class="d-block card-header py-3" data-toggle="collapse"
                            role="button" aria-expanded="true" aria-controls="collapseCardExample">
                            <h6 class="m-0 font-weight-bold text-primary"> Customer's Search</h6>
                        </a>
                        <!-- Card Content - Collapse -->
                        <div class="collapse show" id="collapseCardExample">
                            <div class="card-body">
                                <form th:action="@{/customers}" method="get" th:object="${dto}">
                                    <div class="form-row">  
                                        <div class="form-group col-md-4">
                                            <label for="membershipNumber">Membership Number</label>
                                            <input type="text" class="form-control" id="membershipNumber" name="membershipNumber" th:value="*{membershipNumber}">
                                          </div>
                                          <div class="form-group col-md-4">
                                            <label for="name">Name</label>
                                            <input type="text" class="form-control" id="name" name="name" th:value="*{name}">
                                          </div>
                                          <div class="form-group col-md-2 align-self-end">
                                            <button type="submit" class="btn btn-primary">Search</button>
                                          </div>
                                    </div>
                                    
                                </form>
                            </div>
                        </div>
                    </div>
                    <a th:href="@{customers/insert}" class="btn btn-secondary btn-icon-split mb-2">
                        <span class="icon text-white-50">
                                    <i class="fas fa-arrow-right"></i>
                        </span>
                        <span class="text">Insert New Customer</span>
                    </a>
                    <!-- Table Books -->
                    <div class="card shadow mb-4">
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" >
                                    <thead>
                                        <tr>
                                            <th>Action</th>
                                            <th>Membership Number</th>
                                            <th>Full Name</th>
                                            <th>Expire Date</th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                        
                                        <tr th:each="customer : ${customers.content}">
                                            <td class="action-table">
                                                <a th:href="@{'/customers/update/' + ${customer.membershipNumber}}" class="btn btn-warning btn-icon-split btn-sm mr-sm-1">
                                                    <span class="icon text-white-50">
                                                        <i class="fas fa-edit"></i>
                                                    </span>
                                                    <span class="text">Edit</span>
                                                </a>
                                                <a href="#" th:data-name="@{customers}" th:data-id="${customer.membershipNumber}" data-toggle="modal" data-target="#deleteModal" class="btn btn-danger btn-icon-split btn-sm delete-button">
                                                    <span class="icon text-white-50">
                                                        <i class="fas fa-trash"></i>
                                                    </span>
                                                    <span class="text">Delete</span>
                                                </a>
                                                <a href="#" th:data-name="@{customers}" class="btn btn-info btn-icon-split btn-sm extend-button" th:data-id="${customer.membershipNumber}" data-toggle="modal" data-target="#extendModal">
                                                    <span class="icon text-white-50">
                                                        <i class="fas fa-plus"></i>
                                                    </span>
                                                    <span class="text">Extend</span>
                                                </a>
                                            </td>
                                            <td >
                                                <a th:href="@{'/customers/details/' + ${customer.membershipNumber}}" th:text="${customer.membershipNumber}"></a>
                                            </td>
                                            <td th:text="${customer.fullName}"></td>
                                            <td th:text="${customer.expireDate}"></td>
                                        </tr>
                                    </tbody>
                                    <tfoot>
                                    <tr>
                                        <td colspan="6">
                                            <div class="pagination justify-content-between" >
                                                <div th:if="${customers}">
                                                    <p>
                                                        page <span th:text="${customers.getNumber() + 1}"></span> of
                                                        <span th:text="${customers.getTotalPages()}"></span>
                                                    </p>
                                                </div>
                                                <div>
                                                    <th:block th:if="${customers.totalPages > 0}"
                                                              th:each="page : ${#numbers.sequence(1, customers.totalPages)}">
                                                        <a th:href="@{/customers(
                                                pageNumber = ${page},
                                                pageSize = ${pageSize},
                                                )}" th:text="${page}"></a>
                                                    </th:block>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; Your Website 2020</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="/logout">Logout</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Delete Modal-->
    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel2"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel2">Are you sure to delete ?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Delete" if you are ready to delete this book.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <form  method="post" class="delete-form">
                        <button class="btn btn-danger delete-modal-button">Delete</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

        <!-- Extend Modal-->
    <div class="modal fade" id="extendModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel3"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel3">Are you sure to extend ?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Extend" if you are ready to extend this expire date customer.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <form  method="post" class="extend-form">
                        <button class="btn btn-info extend-modal-button">Extend</button>
                    </form>
                </div>
            </div>
        </div>
    </div>


</body>

</html>